.TechGrid-Row {
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    min-height: 100px;
}

.TechGrid-Row-dropCol {
    flex: 0 0 40%;
}

.TechGrid-Row-label {
    align-items: center;
    color: white;
    display: flex;
    flex: 0 0 20%;
    justify-content: center;
}

.TechGrid-tech {
    max-width: 19vw;
    width: 240px;
}