.ColoursBar-colour {
    display: inline-block;
    height: 20px;
    width: 20px;
}

.ColoursBar-colour--B {
    background-color: blue;
}

.ColoursBar-colour--R {
    background-color: red;
}

.ColoursBar-colour--G {
    background-color: green;
}

.ColoursBar-colour--Y {
    background-color: yellow;
}
